@charset "ISO-8859-1";
/*Header è un contenitore simile a div*/
/*margin: auto serve per centrare il contenitore article*/
article {
	border: 2px solid red;
	margin: auto;
	width: 50%;
	background-color: orange;
}
p {
	text-align: center;
}